@media (min-width: 320px) and (max-width: 575px) {
  #banner {
    padding: 0px 0;
  }
  #banner .wrapper {
    width: auto;
  }
  .copyright {
    text-align: center !important;
  }
  .copyright .design {
    text-align: center !important;
  }
  .cards {
    display: block !important;
  }
  .card-item {
    width: 100% !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #banner {
    padding: 0px 0;
  }
  #banner .wrapper {
    width: auto;
  }
  .copyright {
    text-align: center !important;
  }
  .copyright .design {
    text-align: center !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .com {
    text-align: center;
  }
  footer .com-logo {
    justify-content: center;
  }
}
